apiVersion: v1
kind: PersistentVolume
metadata:
  name: webblast-dbs
spec:
  storageClassName: ""
  capacity:
    storage: ${PD_SIZE}
  accessModes:
    - ReadOnlyMany
  gcePersistentDisk:
    pdName: test-cluster-${USER}-pd
    fsType: ext4
